@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #6449fc;
  --color-primary-hover: #5338e0;
  --font-sans: var(--font-do-hyeon);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-black-han-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-do-hyeon), Arial, Helvetica, sans-serif;
}

input, textarea {
  border-color: #d1d5db;
}
